html {
  font-size: 32px;
}

body {
  font-family: 'Futura', 'Helvetica Neue', sans-serif;
  margin: 0
}

.event__hero {
  color: white;
  font-weight: bold;
  font-size: 1.3em;
  padding: 4em 1em;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  padding: 4em 1em;
  text-align: center;
  background-image: url('/assets/img/whale.png');
  background-repeat: no-repeat;
  background-size: 55%;
  background-position: center 60%;
}

section {
  padding: 4em 1em;
}

footer {
  padding: 4em 1em;
  text-align: center;
}

footer a {
  font-weight: bold;
  text-decoration: none;
  color: inherit;
}
