html {
  font-size: 20px;
}

body {
  font-family: 'Futura', 'Helvetica Neue', sans-serif;
  margin: 0
}

.event__hero {
  color: white;
  font-weight: bold;
  font-size: 1.5em;
  padding: 4em 1em;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.description {
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 4em auto;
  max-width: 800px;
}

.separator {
  text-align: center;
}

.separator img {
  min-width: 200px;
}

footer {
  padding: 4em 1em;
  text-align: center;
}

footer a {
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

canvas {
  display: block;
}
