---
layout: main
---

<header>
  <img src="/assets/img/logo.svg" alt="sonar's logo">
</header>

<section>
  {% for event in site.data.events %}
  {% assign place = site.data.places[event.place] %}
    {% include event.html %}
  {% endfor %}
</section>

<section class="description">
  <p>Sonar est une association genevoise poursuivant notamment les buts suivants:</p>
  <ul>
    <li>Défendre une politique visant à l’amélioration et la diversification de la scène culturelle dans le Canton de Genève ;</li>
    <li>Promouvoir l’innovation, l’utilisation du patrimoine urbain et l’accès universel lors de manifestations culturelles ;</li>
    <li>Promouvoir des artistes locaux sur la scène genevoise.</li>
  </ul>
</section>

<footer>
  <a href="mailto:info@asonar.ch">info@asonar.ch</a>
</footer>
