---
layout: main
---

<header class="event__hero" style="background-image: url('/assets/img/header.jpg');">
  <h1 style="margin-bottom: 0;">SONAR</h1>
  <h2 style="margin-top: 0;">social club</h2>
</header>

<section>
  {% for event in site.data.events %}
  {% assign place = site.data.places[event.place] %}
    {% include event.html %}
  {% endfor %}
</section>

<section class="description">
  <p>Sonar est une association genevoise poursuivant notamment les buts suivants:</p>
  <ul>
    <li>Défendre une politique visant à l’amélioration et la diversification de la scène culturelle dans le Canton de Genève ;</li>
    <li>Promouvoir l’innovation, l’utilisation du patrimoine urbain et l’accès universel lors de manifestations culturelles ;</li>
    <li>Promouvoir des artistes locaux sur la scène genevoise.</li>
  </ul>
</section>

<section class="separator">
  <img src="/assets/img/whale.png" alt="sonar's whale" width="20%" height="auto">
</section>

<footer>
  <a href="mailto:info@asonar.ch">info@asonar.ch</a>
  <a href="https://www.facebook.com/Sonar.Association/">
    <img src="/assets/img/facebook-logo.svg" alt="facebook" style="width: 30px; margin-left: 1rem;">
  </a>
</footer>

{% include canvas.html %}
